h1 {
  color: rgb(75,75,75);
  font-family: "Arial";
}
body {
  background-image: url(https://www.google.de/url?sa=i&rct=j&q=&esrc=s&source=images&cd=&cad=rja&uact=8&ved=0ahUKEwjwg8-mo9nVAhXIPRQKHRbZBfQQjRwIBw&url=https%3A%2F%2Fwww.pinterest.de%2Fexplore%2Fzeichnungen%2F&psig=AFQjCNHa-OJ395jGAJWbrLpXux3ltEEF4g&ust=1502887747287570);
}
